/* input global styles here */
.defaultContainer {
  min-height: 100vh;
}
.labelCss{
  margin-bottom: 6.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.nextLabel{
  margin-left: -13rem;
}
.nextClick{
  margin-bottom: -4rem;
  margin-left: -14rem;
}

.mt-16 {
  margin-top: 2rem;
}

.mt-8 {
  margin-top: 1rem;
}

.mb-16 {
  margin-bottom: 2rem;
}

.mb-8 {
  margin-bottom: 1rem;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.pb-16 {
  padding-bottom: 1rem;
}

/* Navigation Header */
.logo-icon {
  margin-top: 0;
  padding-top: 0;
  height: 1.2rem;
}

.nav-link, .navbar-brand {
  cursor: pointer;
}

.offsetNavigationHeader {
  padding-top: 56px;
  min-height: calc(100vh - 56px);
}

.navigationFooter {
  display: flex;
  justify-content: flex-end;
}

.navigationFooterLink {
  margin-right: .5rem;
}

.navigationFooter nav {
  justify-content: flex-end;
}

.icon-height {
  max-height: 16px;
}

/* Index (Landing) Page */
.landingPageHr {
  width: 80%;
  margin-top: 2rem;
}

.landingPageListTitle {
  text-align: center;
  margin-bottom: 1rem;
}

.backgroundImage {
  background: url("https://via.placeholder.com/150") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Login Form */
.loginContainer {
  min-height: calc(100vh - 56px);
  margin-top: -56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 420px;
  padding: 3rem;
}

.loginFormTitle {
  text-align: center;
}

.loginButtons {
  display: flex;
  justify-content: flex-end;
}

.loginButton {
  margin-left: .5rem;
}

/* Services Form */
.searchResultList {
  max-height: calc(100vh - (254px + 1rem) );
  min-height: 380px;
  overflow-y: scroll;
}

@media all and (max-width: 768px) {
  .searchResultList {
    max-height: calc(100vh - (254px + 1rem) );
    min-height: 100px;
    overflow-y: scroll;
  }
}

.searchContentContainer {
  min-height: 400px;
  overflow-y: scroll;
  border-right: .5px solid #eee;
}

.searchResultContainer {
  padding-bottom: 1rem;
}

.serviceNav.nav {
  padding: 0 15px 0 15px;
}

.serviceImage {
  height: 300px;
  max-width: 680px;
  width: 100%;
}

.serviceDescription {
  max-width: 480px;
  width: 100%;
}

.dropArea {
  border: 2px dashed #eee;
  background-color: #eeeeee8c;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.dropAreaImage {
  width: 100%;
}

.font-bold {
  font-weight: bold;
  font-size: 20px;
}

.paymentContentContainer {
  /* min-height: 400px; */
  overflow-y: scroll;
  border-right: .5px solid #eee;
}

.checkoutTotalGroup {
  display: table;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* ORDER */
.orderModalBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
}
